@model User
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form asp-controller="Users" asp-action="Login">
    <div>@ViewBag.Error</div>
    <div class="my-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="my-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
   
    <button type="submit" class="btn btn-outline-primary">Login</button>


</form>

